[submodule "External/Eigen"]
	path = External/Eigen
	url = https://github.com/PX4/eigen.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/RxTx"]
	path = External/RxTx
	url = https://github.com/dunyazad/RxTx.git
[submodule "External/NodeNetwork"]
	path = External/NodeNetwork
	url = https://github.com/Wouterdek/NodeNetwork.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/cuCollections"]
	path = External/cuCollections
	url = https://github.com/NVIDIA/cuCollections.git
[submodule "External/cccl"]
	path = External/cccl
	url = https://github.com/NVIDIA/cccl.git
[submodule "External/OpenMesh"]
	path = External/OpenMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "External/CDT"]
	path = External/CDT
	url = https://github.com/artem-ogre/CDT.git
